body{
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    margin: 0; 
    padding: 0; 
    background-color: #f6f6ef; 
}
a{
    text-decoration: none; 
    color: inherit;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 600px; 
    margin: 0 auto;
}
.header{
    background-color: #ff6600; 
    padding: 10px; 
    color: #fff; 
    text-align: center;
}
.news-list{
    font-size: 12px;
}
.news-item{
    border-bottom: 1px solid #ccc; 
    padding: 10px;
}
.news-title{
    font-size: 16px; 
    margin-bottom: 5px;
}
.news-link{
    text-decoration: none; 
    color: #000;
}
.news-meta{
    font-size: 10px; 
    color: #555;
}
.footer{
    background-color: #ff6600;
    padding: 10px; 
    color: #fff; 
    text-align: center;
}
.news-meta span{
    margin-right: 10px;
}
.vote-up {
    cursor: pointer;
    color: black;
}
.vote-up.clicked {
    color: green;
}
.hide-button{
    cursor: pointer;
}
#posts-per-page{
    background-color: inherit;
}
#load-more{
    background: none; 
    border: none; 
    color: inherit; 
    cursor: pointer; 
    font-size: inherit; 
    padding: 0; 
    margin: 0;
    text-decoration: none;
}
@media only screen and (max-width: 600px){/* Responsywność */
    .container{
        max-width: 100%; 
        padding: 0 10px;
    } 
    .news-title{
        font-size: 14px;
    } 
    .news-meta{
        font-size: 8px;
    }
}